/**
 * duplicate this file and rename it to config/local.json.
 */

{
	/*
	|--------------------------------------------------------------------------
	| Expected HTTP request domains
	|--------------------------------------------------------------------------
	|
	| This is a list of the domains where you expect HHTP requests to be made to.
	| We will test all HTTP requests against this list and flag any which
	| do not appear as this may indicate they have been injected by a
	| malicious third party.
	|
	*/
	"expected": [

	]
}
